/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #1e1e1e;
}

h1 {
  text-transform: uppercase;
  margin: 20px auto;
  text-align: center;
  color: white;
}

/* BOX */
.box {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.box .label {
  color: white;
  margin-bottom: 5px;
}

@keyframes changeWidth {
  0%, 100% {
    width: 75%;
  }
  50% {
    width: 100%;
  }
}
/* FLEX */
.flex {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  border-radius: 10px;
  border: 2px dashed white;
  margin-bottom: 20px;
  animation: infinite changeWidth 4s ease-in-out;
}
.flex .child {
  border-radius: 5px;
  width: 200px;
  height: 75%;
  background: white;
  margin: 0 10px;
}

/* JUSTIFY-CONTENT : VALUES */
.stretch {
  justify-content: stretch;
}
.stretch .child {
  flex-grow: 1;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}
